.footer { text-align: right; font-size: 11px; }
.post .entry { padding-bottom: 0; }
h4 { font-family: Georgia,"Times New Roman",Times,serif; font-weight: normal; text-transform: lowercase; font-size: 18px; }

pre { overflow: auto; padding: 0.3em 0.4em; background: #FFFFFF url(/static/images/abrasive/bg01.jpg) repeat scroll left top; }
dt { font-weight: bold;  margin-top: 0.4em; }

#.literal-block { color: #000000; }
.literal-block { background: #E7E7E7; }

#disqus_thread { padding: 15px 15px 25px; }
